<main class="page-shell app-container page-shell--pad-static-page">
    <div class="mdui-prose page-page__prose">
        <%- page.content %>
    </div>
</main>
<div id="page-bottom" aria-hidden="true"></div>
