<main class="page-shell mdui-container mdui-p-t-2 mdui-p-b-5">
    <div class="mdui-prose page-page__prose">
        <%- page.content %>
    </div>
</main>
<div id="page-bottom" aria-hidden="true"></div>
